<form>
  <div class="svgContainer">
    <div>
      <svg class="mySVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200 200">
        <defs>
          <circle id="circleMask" cx="100" cy="100" r="100" />
        </defs>
        <clipPath id="armMask">
          <use xlink:href="#circleMask" overflow="visible" />
        </clipPath>
        <circle cx="100" cy="100" r="100" fill="#a9ddf3" />
      </svg>
    </div>
  </div>

  <div class="inputGroup inputGroup1">
    <label for="email1">Email</label>
    <input type="text" id="email" class="email" maxlength="256"/>
    <span class="indicator"></span>
  </div>
  <div class="inputGroup inputGroup2">
    <label for="password">Password</label>
    <input type="password" id="password" class="password" />
  </div>
  <div class="inputGroup inputGroup3">
    <button id="login" [routerLink]="['./home']">Login</button>
  </div>
</form>